* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;

  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #fff;


    // Navigation menu
    .navbar {
      display: none;

      .navbar .navbar-nav .nav-link {
        padding: 25px 10px;
        color: #6a3d2f;
        font-weight: 500;
        outline: none;
      }

      .navbar-nav .nav-link:hover,
      .navbar-nav .nav-link.active {
        color: #49485e !important;
      }

      a.nav-item {
        color: #49485e;
        text-decoration: none;
        background-color: transparent;
      }

      a.nav-item:hover {
        color: #ddbc95;
      }
    }


    // Header section
    .position-absolute {
      font-weight: 700;
    }

    .hero-text {
      margin-top: 175px;

      .typed-cursor {
        font-size: 45px;
        color: #fff;
      }

      div.button {
        a.btn {
          padding: 10px 25px;
          border-radius: 100px;
        }
        
        a.btn-white {
          background-color: #fff;
          border: 2px solid #fff;
          margin-right: 1.5em;
        }
  
        a.btn-blue {
          border: 2.4px solid #fff;
          color: #fff;
        }
      }
    }

    // About section
    .navy {
      background-color: #49485e;
      color: #fff;
    }

    .navy:hover {
      background-color: #49485e;
      color: #fff;
      text-decoration: underline;
    }

    .display-1 {
      font-size: 160px;
      font-weight: 1000;
    }

    .position-absolute {
      font-weight: 700;
    }

    // Qualification section
    #qualification {
      height: 75em;  
    }
    
    .ex-me {
      margin-top: 35px !important;
    }
    
    .mm {
      margin-top: -19em;
    }

    .nm {
      margin-top: -8px;
    }

    // Portfolio section

    .btn.btn-sm.btn-outline.m-1.active{
      background-color: #49485e;
      color: #fff;
    }

    .btn.btn-sm.btn-outline.m-1 {
      border: 2px solid #49485e;
      color: #49485e;
    }

    .portfolio-btn {
      position: absolute;
      width: 0;
      height: 0;
      top: 38%;
      left: 38%;
      border-radius: 4px;
      opacity: 0;
      transition: 0.5s;
    }

    .hover:hover {
      color: red;
    }

    .portfolio-item:hover .portfolio-btn {
      opacity: 1;
      width: calc(100% - 50%);
      height: calc(100% - 50%);
      width: 25%;
      height: 25%;
    }

    .bg-darker {
      background-color: #49485e;
    }

    // Contact
    .position {
      position: relative;
    }

    // Footer
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .text-color {
      color: #49485e;
    }

    .btn-dark {
      background-color: #49485e !important;
      border: none;
    }
  }  
}
